// @font-face {
//   font-family: 'FarAwayGalaxy';
//   src: url('/fonts/FarAwayGalaxy.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@use 'variables' as v;

html {
  font-family: 'Source Sans Pro',  'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: v.$bg-color;
  color: v.$text-color;
}


*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: v.$text-color;

    &:hover {
      color: v.$main-green;
    }
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 85px 0;
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  padding: 10px 35px;
  line-height: 1.3rem;

    &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: v.$bg-color;
    z-index: -1;
    transition: 0.5s;

    }

    &__blue {
      color: v.$bg-color;
      background-color: v.$main-green;
      border: 1px solid v.$main-green;

        &::before {
        background: v.$bg-color;
      }

        &:hover {
        color: v.$main-green;
      }

        &:hover::before {
        width: 100%;
      }
    }

    &__black {
      color: v.$main-green;
      background-color: v.$bg-color;
      border: 1px solid v.$main-green;

      &::before {
        background: v.$main-green;
      }

        &:hover {
        color: v.$bg-color;
      }

        &:hover::before {
        width: 100%;
      }
    }

      &:hover::before {
    width: 100%;
  }
  }

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: v.$text-color;
  height: 100%;
  width: 100%;
  position: relative;
  letter-spacing: 0.1px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: v.$gray;
  border-radius: 3px;

  &-thumb {
    background-color: v.$light-gray;
    border-radius: 3px;
    &:hover {
      border: none;
    }
  }
}

