// @font-face {
//   font-family: 'FarAwayGalaxy';
//   src: url('/fonts/FarAwayGalaxy.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@import 'variables'; 

html {
  font-family: 'Source Sans Pro',  'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
}


*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $text-color;

    &:hover {
      color: $main-green;
    }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  height: 100%;
  width: 100%;
  position: relative;
  letter-spacing: 0.1px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: $gray;
  border-radius: 3px;

  &-thumb {
    background-color: $light-gray;
    border-radius: 3px;
    &:hover {
      border: none;
    }
  }
}

